<div >           
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Imagem</th>
          <th>Estoque</th>
          <th>Adicionar ao Carrinho</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.id }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.descricao }}</td>
          <td>R$ {{ produto.preco }}</td>
          <td> <img src={{produto.imagem}} alt=""> </td> 
          <td>{{ produto.estoque }}</td>
          <td><button type="button" class="btn btn-primary" (click)="adicionaraoCarrinho(produto)">Adicionar</button></td>
        </tr>
        
      </tbody>
    </table>
    <div class = "table table-hover">
      <app-carrinho></app-carrinho>
    </div>
  </div>
  <router-outlet></router-outlet>
